.contact-div {
    border: 5px solid black;
    height: 300px;
    width: 600px;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
}

.contact-photo {
    width: 200px;
    height: 230px;
    margin: auto 20px;
    border: 5px solid black;
}

.contact-info {
    margin: auto 30px;
    text-align: start;
}

.contact-info p {
    font-weight: bold;
    font-size: 40px;
}

.modal-photo {
    width: 130px;
    height: 150px;
}

.modal-info {
    margin: 0 auto;
    font-size: 20px;
}

.modal-info p:first-child {
    font-weight: bold;
    font-size: 30px;
}

.contact-btn {
    width: 80px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
   border: 2px solid black;
}

.delete {
    background-color: #d51b1b;
}

.edit {
    background-color: #c4c409;
    line-height: 28px;
    text-decoration: none;
}

